<li id="<%= email.id%>" class="list-group-item">
    <%= link_to "#{email.object}", email_path(email), remote: true %>

    <span class="badge badge-pill badge-primary float-right" id="unread<%=email.id%>" <%if email.read == true %>
        style="display:none"
        <%end%>>Unread</span>

</li>